h5.no-upper {
 text-transform: none !important;
}

.dark-circle {
  background-color: #484443 !important;
}

h6 {
   color: #666666 !important;
}


.link-underlined {
  color: #8d8d8d;
  text-decoration: underline;
}

nav.main_menu>ul>li>a {
  color: #484443 !important;
}

nav.main_menu>ul>li>a>span {
  padding: 8px 16px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid transparent;
}

nav.main_menu>ul>li.active>a>span {
  color: #fff;
  background-color: #484443;
  padding: 8px 16px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

nav.main_menu>ul>li>a>span:hover {
  color: #484443 !important;
  background-color: #fff !important;
  padding: 8px 16px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #484443;
}


aside.sidebar .widget h4 {
  background: #484443 url(/img/grey-blocks-background-small-bg.jpg) no-repeat;
}

 @media only screen and (max-width: 1000px) {
      img.normal {
        height: 90px;
    }
  }

  @media only screen and (min-width: 1000px) {
      img.normal {
        margin-top: 50px;
        height: 140px;
    }
  }

/*About Page */


.q_icon_with_title .icon_text_holder .icon_title {
   margin: 0;
}



::selection {
  background:#484443;
  color:#fff;
}
::-moz-selection{
  background:#484443;
  color:#fff;
}
