<nav class="main_menu drop_down right">
        <ul id="menu-top_menu" class="">
            <li id="nav-menu-item-9723" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home  narrow active">
                <a href="http://demo.select-themes.com/stockholm16/" class="current" style="line-height: 122px;">
                    <i class="menu_icon fa blank"></i>
                    <span>Home</span>
                    <span class="plus"></span>
                </a>
            </li>
            <li id="nav-menu-item-9729" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="http://demo.select-themes.com/stockholm16/#" class="" style="line-height: 122px;">
                    <i class="menu_icon fa blank"></i>
                    <span>Pages</span>
                    <span class="plus"></span>
                </a>
            </li>
            <li id="nav-menu-item-18512" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="http://demo.select-themes.com/stockholm16/#" class="" style="line-height: 122px;">
                    <i class="menu_icon fa blank"></i>
                    <span>Portfolio</span>
                    <span class="plus"></span>
                </a>
            </li>
            <li id="nav-menu-item-9779" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="http://demo.select-themes.com/stockholm16/#" class="" style="line-height: 122px;">
                    <i class="menu_icon fa blank"></i>
                    <span>Blog</span>
                    <span class="plus"></span>
                </a>
            </li>
            <li id="nav-menu-item-21141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="http://demo.select-themes.com/stockholm16/#" class="" style="line-height: 122px;">
                    <i class="menu_icon fa blank"></i>
                    <span>Shop</span>
                    <span class="plus"></span>
                </a>
            </li>
        </ul>						
    </nav>
    <nav class="mobile_menu">
        <ul id="menu-top_menu-1" class="">
            <li id="mobile-menu-item-9723" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active">
                <a href="http://demo.select-themes.com/stockholm16/" class="current">
                    <span>Home</span>
                </a>
            </li>
            <li id="mobile-menu-item-9729" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                <a href="http://demo.select-themes.com/stockholm16/#" class="">
                    <span>Pages</span>
                </a>
            </li>
            <li id="mobile-menu-item-18512" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                <a href="http://demo.select-themes.com/stockholm16/#" class="">
                    <span>Portfolio</span>
                </a>
            </li>
            <li id="mobile-menu-item-9779" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                <a href="http://demo.select-themes.com/stockholm16/#" class="">
                    <span>Blog</span>
                </a>
            </li>
            <li id="mobile-menu-item-21141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                <a href="http://demo.select-themes.com/stockholm16/#" class="">
                    <span>Shop</span>
                </a>
            </li>
        </ul>
    </nav>